.ghost {
    height: 18vh;
    width: 8vw;
    background-image: url(../../assets/ghost.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 17vh auto;
}

.card {
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 1;
    background: rgb(31, 31, 31);
    margin: -14.5vh auto;
    width: 80vw;
    height: 350vh;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.title {
    font-family: Alice, serif;
    font-size: 6vmax;
    margin: 1vh auto;
}

.des {
    max-width: 70vw;
    text-align: left;
    margin: 3vh auto;
    font-size: 1.25vmax;
}

.by {
    font-size: 1.5vmax;
}

.dateTime {
    font-size: 1.25vmax;
}

.more {
    font-size: 1.25vmax;
}

.welcome {
    margin-top: 3vh;
    font-size: 2.5vmax;
}

.new {
    font-size: 1.5vmax;
}