<form [formGroup]="createForm" (ngSubmit)="onCreateForm($event)">


  <h2 class="header">Post a Haunted Location in Indiana</h2>



  <mat-form-field color="warn" appearance="outline" class="outline" for="img">
    <mat-label class="label">Image</mat-label>
    <input class="input" formControlName="img" type="text" name="img" matInput placeholder="Enter an image url">
  </mat-form-field>

  <br />


  <br />
  <mat-form-field color="warn" appearance="outline" class="outline" for="location">
    <mat-label class="label">Location</mat-label>
    <input class="input" formControlName="location" type="text" name="location" matInput placeholder="Enter a location">
  </mat-form-field>

  <br />


  <br />
  <mat-form-field color="warn" appearance="outline" class="outline des" for="description">
    <mat-label class="label">Description</mat-label>
    <textarea class="input des" id="des" formControlName="description" type="text" name="description" matInput
      placeholder="Enter a description"></textarea>
  </mat-form-field>
  <br />
  <br />
  <br/>
  <br />
  <mat-form-field color="warn" appearance="outline" class="outline" for="tag">
    <mat-label class="label">Tag</mat-label>
    <mat-select class="select" formControlName="tag" name="tags">
      <mat-option *ngFor="let t of tags" [value]="t">{{t}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="button">Create</button>
    <button mat-raised-button mat-dialog-close class="button">Cancel</button>

  </mat-dialog-actions>
</form>