<div class="ghost"></div>
<div class="card">
  <h1>Ghost Hunts</h1>
  <!-- <app-ghost-hunt-modal></app-ghost-hunt-modal> -->
  <div *ngIf="ghosthunts">
    <button mat-raised-button (click)="openDialog()">Create a Post</button></div>



  <div *ngFor="let hunt of ghosthunts">
    <p>{{hunt.tag}}</p>
    <p>{{hunt.location}}</p>
    <p>{{hunt.time}}</p>
    <p>{{hunt.date}}</p>
    <p>{{hunt.description}}</p>
    <p>Created by: {{hunt.name}}</p>
    <button *ngIf="userId === hunt.userId" (click)="deleteGhostHunt(hunt.id)">Delete Post</button>
    <button *ngIf="userId === hunt.userId" (click)="openDialog1(hunt)">Edit Post</button>
  </div>
</div>