<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="ghost"></div>
<div class="card">
  <h1 class="header">Ghost Hunts</h1>
  <!-- <app-ghost-hunt-modal></app-ghost-hunt-modal> -->
  <div *ngIf="ghosthunts">
    <button mat-raised-button (click)="openDialog()" class="button">Create a Post</button></div>


  <div *ngFor="let hunt of ghosthunts">

    <p>{{hunt.tag}}</p>
    <p>{{hunt.location}}</p>
    <p>{{hunt.time}}</p>
    <p>{{hunt.date}}</p>
    <p>{{hunt.description}}</p>
    <p>Created by: {{hunt.name}}</p>
 
    <button *ngIf="isAdmin" (click)="adminDelete(hunt.id)" class="button">Delete</button>
    <button *ngIf="userId === hunt.userId && isAdmin === false" (click)="deleteGhostHunt(hunt.id)" class="button">Delete</button>
    <button *ngIf="userId === hunt.userId" (click)="openDialog1(hunt)" class="button">Edit</button>

  </div>
</div>