<div class="ghost"></div>
<div class="card">
  <h1>Haunted Locations</h1>

  <div *ngIf="locations">
    <button mat-raised-button (click)="openDialog()">Create a Post</button>
  </div>
  <div *ngFor="let haunted of locations">

    <img src="{{haunted.img}}" alt="location img" class="img" />

    <p>{{haunted.location}}</p>
    <p>{{haunted.description}}</p>
    <p>{{haunted.tag}}</p>
    <p>Created by: {{haunted.name}}</p>
    <button *ngIf="userId === haunted.userId" (click)="deleteLocation(haunted.id)">Delete Post</button>
    <button *ngIf="userId === haunted.userId" (click)="openDialog1(haunted)">Edit Post</button>
  </div>
</div>