<form [formGroup]="editForm" (ngSubmit)="onEditForm($event)">


  <h2>Update Your Post</h2>


  <label class="text" for="img">Img:</label>
  <input formControlName="img" class="input" type="url" name="img" />

  <br />
  <br>

  <label class="text" for="location">Location:</label>
  <input formControlName="location" class="input" type="text" name="location" />

  <br />
  <br>

  <label class="text" for="description">Details:</label>
  <input formControlName="description" class="input" type="text" name="description" />

  <br />
  <br>

  <label for="tag">Tag:</label>
  <select formControlName="tag" name="tags">
    <option *ngFor="let tag of tags" value="{{tag}}">{{tag}}</option>
  </select>

  <br />
  <br>

  <mat-dialog-actions>
    <button type="submit" mat-raised-button>Edit Post</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>

  </mat-dialog-actions>
</form>