<form class="form" [formGroup]="editForm" (ngSubmit)="onEditForm($event)">


  <h2 class="header">Update Your Post</h2>


  <br />
  <mat-form-field color="warn" appearance="outline" class="outline" for="img">
      <mat-label class="label">Image</mat-label>
      <input class="input" formControlName="img" type="text" name="img" matInput placeholder="Enter an image url">
    </mat-form-field>

  <br />
  <br>

  <mat-form-field color="warn" appearance="outline" class="outline" for="location">
      <mat-label class="label">Location</mat-label>
      <input class="input" formControlName="location" type="text" name="location" matInput placeholder="Enter a location">
    </mat-form-field>

  <br />
  <br>

  <mat-form-field color="warn" appearance="outline" class="outline des" for="description">
      <mat-label class="label">Description</mat-label>
      <textarea class="input des" formControlName="description" type="text" name="description" matInput
        placeholder="Enter a description"></textarea>
    </mat-form-field>

    <br />
    <br />
    <br/>
    <br />

  <mat-form-field color="warn" appearance="outline" class="outline" for="tag">
    <mat-label class="label">Tag</mat-label>
    <mat-select class="select" formControlName="tag" name="tags">
      <mat-option *ngFor="let t of tags" [value]="t">{{t}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-dialog-actions>
    <button class="button" type="submit" mat-raised-button>Edit Post</button>
    <button class="button" mat-raised-button mat-dialog-close>Cancel</button>

  </mat-dialog-actions>
</form>