<div class="info">
  <p class="username">Your Username: </p>
  <p class="userinfo">{{ user.name }}</p>
  <hr />
  <p class="userinfo">Your Email: </p>
  <p class="userinfo">{{ user.email }}</p>
  <hr />
  <p class="userinfo">You are located in: </p>
  <p class="userinfo">{{ user.location }}</p>
  <hr />
  <button class="button" mat-raised-button color="maroon" (click)="buttonA()">My Haunted Locations</button><br />
  <button class="button" mat-raised-button color="maroon" (click)="buttonB()">My Personal Stories</button><br />
  <button class="button" mat-raised-button color="maroon" (click)="buttonC()">My Urban Legends</button><br />
  <button class="button" mat-raised-button color="maroon" (click)="buttonD()">My Ghost Hunts</button><br />


  <!-- <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
  </mat-form-field> -->

</div>

<div class="posts" id="style-2">
  <div *ngFor="let haunted of locations">
      <mat-card class="example-card"> 
    <p class="title" *ngIf="haunted.location">{{haunted.location}}</p>
    <p class="title" *ngIf="haunted.title">{{haunted.title}}</p>
    <img *ngIf="haunted.img" src="{{haunted.img}}" alt="location img" class="img" />
    <agm-map *ngIf="haunted.latitude" [latitude]='latitude' [longitude]='longitude'>
      <agm-marker [latitude]='haunted.latitude' [longitude]='haunted.longitude'></agm-marker>
    </agm-map>
    <!-- <p>{{location.img}}</p> -->
    <p class="des">{{haunted.description}}</p>
    <p class="tag">{{haunted.tag}}</p>
    <p class="name">Created by: {{haunted.name}}</p>
    <br />
    </mat-card>

  </div>

</div>