.info {
    margin-top: 12.5vh;
    margin-left: 1.5vw;
    width: 22vw;
    height: 85vh;
    background-color: rgb(31, 31, 31);
    border-radius: 0.85vmax;
}

.posts {
    width: 72vw;
    height: 85vh;
    background-color: rgb(31, 31, 31);
    float: right;
    margin-top: -85vh;
    margin-right: 2vw;
    border-radius: 0.75vmax;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#style-2::-webkit-scrollbar {
	width: 0.75vw;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
	border-radius: 0.5vmax;
    box-shadow: inset 0 0 0.4vmax black;
    background-color: maroon;
    /* scroll-behavior: smooth; */
}

#style-2::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.65vmax black;
	border-radius: 0.5vmax;
    background-color: lightgrey;
}

/* .mat-raised-button.mat-maroon {
    background-color: maroon;
    color: black;
} */

.title {
    font-family: Alice, serif;
    font-size: 6vmax;
    margin: 1vh auto;
}