.info {
    margin-top: 12.5vh;
    margin-left: 1.5vw;
    width: 22vw;
    height: 84vh;
    background-color: rgb(31, 31, 31);
    border-radius: 0.85vmax;
    padding-top: 1vh;
}

.posts {
    width: 72vw;
    height: 85vh;
    background-color: rgb(31, 31, 31);
    float: right;
    margin-top: -85vh;
    margin-right: 2vw;
    border-radius: 0.75vmax;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#style-2::-webkit-scrollbar {
	width: 0.75vw;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
	border-radius: 0.5vmax;
    box-shadow: inset 0 0 0.4vmax black;
    background-color: maroon;
    /* scroll-behavior: smooth; */
}

#style-2::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.65vmax black;
	border-radius: 0.5vmax;
    background-color: lightgrey;
}

/* .mat-raised-button.mat-maroon {
    background-color: maroon;
    color: black;
} */

/* .title {
    font-family: Alice, serif;
    font-size: 6vmax;
    margin: 1vh auto;
} */

.header {
    font-size: 5vmax;
    margin-left: 2.75vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#create {
    margin-left: 3vw;
    font-family: 'Special Elite', cursive;
}

.example-card {
    box-shadow: 0 0 1vmax black;
    border-radius: 1vmax;
    width: 60vw;
    margin: 15vh auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    padding: 3em;
    padding-top: 2.5vh;
    font-family: 'Special Elite', cursive;
  }
  .button{
      background-color:maroon;
  }

  .title {
      font-family: Alice, serif;
      margin: 1vh auto;
      max-width: 60vw;
      font-size: 6vmax;
      margin-bottom: 0vh;
  }

  .time,
  .date,
  .des,
  .name,
  .tag {
    margin: 2vh auto;
    max-width: 55vw;
    font-size: 1.25vmax;
  }

  .name {
      margin-bottom: -3vh;
  }

  .des {
    margin-top: 3vh;
    text-align: justify;
    white-space: pre-wrap;
}

  .img {
    max-width: 55vw;
    box-shadow: 0 0 1vmax black;
  }

  agm-map {
    float: left;
    margin-left: 2.5vw;
    z-index: 1;
    width: 55vw;
    height: 52vh;
    /* position: -webkit-sticky; */
    box-shadow: 0 0 1vmax black;
    margin-bottom: 3vh;
}

hr {
    width: 19vw;
    background-color: maroon;
    border-radius: 0.5vmax;
    border-color: maroon;
}

.username,
.userinfo {
    font-size: 1.5vmax;
    margin-left: 1.75vw;
}

.username {
    margin-top: 2.5vh;
}

.button {
    margin-top: 3vh;
    margin-left: 1.75vw;
}