<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="ghost"> </div>
<div class="card">
  <p class="header">Urban Legends</p>
  <button mat-raised-button (click)="openDialog()" class="button" id="create">Create a Post</button>
  <div *ngFor="let legend of legend">
    <mat-card class="example-card">
      <p class="title">{{legend.title}} </p>
      <mat-card-content>
        <p class="date">Date: {{legend.date}}</p>
        <img class="img" src="{{legend.img}}" />
        <p class="des">{{legend.description}}</p>
        <p class="tag">{{legend.tag}}</p>
        <p class="name"> Created by: {{legend.name}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="isAdmin" (click)="adminDelete(legend.id)" class="button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button *ngIf="userId === legend.userId && isAdmin === false" (click)="deleteLegend(legend.id)"
          class="button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button *ngIf="userId === legend.userId" (click)="updateDialog(legend)" class="button">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>