agm-map {
    height: 35vh;
    width: 95%;
}

.button{
    background-color:maroon;
}

.form::-webkit-scrollbar {
	width: 0.9vw;
	background-color: transparent;
}

.form::-webkit-scrollbar-thumb {
	border-radius: 0.5vmax;
    box-shadow: inset 0 0 0.4vmax black;
    background-color: maroon;
    /* scroll-behavior: smooth; */
}

.form::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.65vmax black;
	border-radius: 0.5vmax;
    background-color: lightgrey;
}

.form {
    width: 55vw;
    height: 65vh;
    border-radius: 2vmax;
    padding-left: 1vw;
    overflow-y: scroll;
}

.header {
    font-size: 2.5vmax;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    font-family: 'Special Elite', cursive;
}

.outline {
    color: white;
    width: 51.5vw;
    filter: saturate(200%) brightness(50%);
}

.des {
    height: 20vh;
    white-space: pre-wrap;
}