<form class="form" [formGroup]="updateStory" (ngSubmit)="onUpdateStory()">
  <p class="header">Update Your Post</p>

  <mat-form-field color="warn" appearance="outline" class="outline" for="title">
    <mat-label class="label">Title</mat-label>
    <input class="input" formControlName="title" type="text" name="title" matInput placeholder="Enter a title">
  </mat-form-field>


  <br>
  <mat-form-field color="warn" class="outline" appearance="outline">
    <mat-label for="date">Date:</mat-label><br />
    <input formControlName="date" name="date" matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
  </mat-form-field>
  <br>

  <br>
  <mat-form-field color="warn" appearance="outline" class="outline" for="img">
    <mat-label class="label">Image</mat-label>
    <input class="input" formControlName="img" type="text" name="img" matInput placeholder="Enter an image url">
  </mat-form-field>
  <br>

  <br>
  <mat-form-field color="warn" appearance="outline" class="outline des" for="description">
    <mat-label class="label">Description</mat-label>
    <textarea class="input des" formControlName="description" type="text" name="description" matInput
      placeholder="Enter a description"></textarea>
  </mat-form-field>
  <br>
  <br />
  <br />
  <br>
  <mat-form-field color="warn" appearance="outline" class="outline" for="tag">
    <mat-label class="label">Tag</mat-label>
    <mat-select class="select" formControlName="tag" name="tag">
      <mat-option *ngFor="let t of tag" [value]="t">{{t}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button type="submit" class="button">Create</button>
    <button mat-raised-button mat-dialog-close class="button">Cancel</button>
  </mat-dialog-actions>
</form>